<h3 class="with-icon supplier">Supplier Information</h3>
<div class="bigger">
    <div class="row">
        <div class="col-6">
            <strong>{{Supplier.Name}}</strong><br />
            {{Supplier.Address}}<br />
        </div>
        <div class="col-6">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{Supplier.City}}{{#if Supplier.PostalCode}}, {{Supplier.PostalCode}}{{/if}}<br />
            <strong>Phone:</strong> {{Supplier.Telephone}}
        </div>
    </div>
</div>
<br />
<p><strong>Send original referral form and itemized receipts to:</strong></p>
<p>
    Ministry of Emergency Management and Climate Readiness<br />
    PO Box 9201, STN PROV GOVT<br />
    Victoria BC V8W 9J1<br />
</p>
<ul>
    <li>Services to meet immediate needs should be provided in the most cost-effective manner. Extra costs incurred by the evacuee beyond the approved items listed are the responsibility of the evacuee.</li>
    <li>Emergency Support Services is eligible for approved Provincial Government Rates from commercial accommodations suppliers listed in the Ministry of Labour and Citizens&#39; Services Business Travel Accommodation Listings for government travel.</li>
    <li>If the evacuee can bill meals to their room, ensure the restaurant is aware of the meal allowances and restrictions. Itemized bills for meals provided must be included with the invoice.</li>
</ul>