<h3 class="with-icon supplier">Supplier Information</h3>
<div class="bigger">
    <div class="row">
        <div class="col-6">
            <strong>{{Supplier.Name}}</strong><br />
            {{Supplier.Address}}<br />
        </div>
        <div class="col-6">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{Supplier.City}}{{#if Supplier.PostalCode}}, {{Supplier.PostalCode}}{{/if}}<br />
            <strong>Phone:</strong> {{Supplier.Telephone}}
        </div>
    </div>
</div>
<br />
<p><strong>Send original referral form and itemized receipts to:</strong></p>
<p>
    Ministry of Emergency Management and Climate Readiness<br />
    PO Box 9201, STN PROV GOVT<br />
    Victoria BC V8W 9J1<br />
</p>
<p><strong>Procced to the Group Lodging Facility as directed by Emergency Support Services</strong></p>