{{#if IsEtransfer}}
<div class="col-6">
    <h3 class="with-icon etransfer">E-Transfer Information</h3>
    <div class="row">
        <div class="col-6">
            <strong>e-Transfer Recipient:</strong><br />
            {{NotificationInformation.RecipientFirstName}} {{NotificationInformation.RecipientLastName}}<br /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <strong>e-Transfer Notification:</strong><br />
            {{#if NotificationInformation.Email}}{{NotificationInformation.Email}}<br />{{/if}}
            {{#if NotificationInformation.Mobile}}{{NotificationInformation.Mobile}}<br />{{/if}}
        </div>
    </div>
</div>
{{else}}
<div class="col-6">
    {{#if Supplier}}
    <h3 class="with-icon supplier">Supplier Information</h3>
    <div class="row">
        <div class="col-6">
            <strong>{{Supplier.Name}}</strong><br />
            {{Supplier.Address}}<br />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{Supplier.City}}{{#if Supplier.City}}{{#if Supplier.PostalCode}}, {{/if}}{{/if}}{{Supplier.PostalCode}}<br />
            <strong>Phone:</strong> {{Supplier.Telephone}}
        </div>
    </div>
    {{/if}}
    {{> notesPartial}}
</div>
{{/if}}