<table role="presentation" style="width:94%;max-width:600px;border:none;border-spacing:0;text-align:left;font-family:Arial,sans-serif;font-size:16px;line-height:22px;color:#363636;">
    <tbody>
        <tr>
            <td style="padding:30px;background-color:#ffffff;">
                <p style='font-size: 18pt;color:#234075;font-weight: bold;'>Confirmation of Interac e-Transfer&#8482; for Emergency Support Services (ESS)</p>
                <p><strong>Your Interac e-Transfer request is being processed.</strong></p>
                <p style='font-size: 13pt;color:#00a6ed;font-weight: bold;'>Transfer Details:</p>
                <p>
                    Transfer Recipient: <b>  {{recipientName}}</b>
                    <br />
                    Transfer Notification: <b>{{notificationEmail}}</b>
                </p>
                <p>
                    {{#if groceryAmount}}
                    Grocery: <b>${{groceryAmount}}</b>
                    <br>
                    {{/if}}
                    {{#if restaurantAmount}}
                    Restaurant: <b>${{restaurantAmount}}</b>
                    <br />
                    {{/if}}
                    {{#if clothingAmount}}
                    Clothing: <b>${{clothingAmount}}</b>
                    <br>
                    {{/if}}
                    {{#if incidentalsAmount}}
                    Incidentals: <b>${{incidentalsAmount}}</b>
                    <br>
                    {{/if}}
                    {{#if shelterAllowanceAmount}}
                    Shelter Allowance: <b>${{shelterAllowanceAmount}}</b>
                    {{/if}}
                <p>
                <p style='font-size: 13pt;font-weight: bold;'>Total Amount: ${{totalAmount}}</p>
                <p style='font-size: 13pt;color:#00a6ed;font-weight: bold;'>Next Steps:</p>
                <ul>
                    <li>
                        <b>No Further Action Required:</b> You DO NOT need to meet with a responder at a reception centre. For information about evacuation orders and alerts, please visit your Local Emergency Programs website or <a href="https://www.emergencyinfobc.gov.bc.ca/" style="color:#00a6ed;text-decoration:underline;">EmergencyInfoBC.ca</a>.
                    </li>
                    <br>
                    <li>
                        If you haven't set up Autodeposit for Interac e-Transfer, the security answer for the transfer can be found in your ERA Profile.
                    </li>
                    <br>
                    <li>
                        While most transfers are processed immediately, there are instances where processing delays can occur. If your transfer is not received within 24 hours, please contact 1-800-585-9559.
                    </li>
                    <br>
                </ul>
                <p>
                    <strong>
                        Please use the following link to login to the tool and review and/or edit your new ESS File:
                        <a href='https://ess.gov.bc.ca' style="color:#00a6ed;text-decoration:underline;">https://ess.gov.bc.ca</a>
                        <br /><i style="color: #808080">(select the 'Already have an account? Log in' button)</i>
                    </strong>
                </p>
            </td>
        </tr>
        <tr>
            <td style="padding:30px;text-align:center;font-size:12px;background-color:#234075;color:#cccccc;">
                <p style="margin:0 0 8px 0;"><a style="text-decoration:none;"><img src="https://ess.gov.bc.ca/img/gov_bc_logo.svg" width="150" height="41" alt="Government of British Columbia" style="display:inline-block;color:#cccccc;"></a></p>
            </td>
        </tr>
    </tbody>
</table>